/Analyzer.class
/AnalyzerFactory.class
/Token.class
/TokenFilter.class
/TokenFilterFactory.class
/TokenFilterType.class
/TokenStream.class
/Tokenizer.class
/TokenizerException.class
/TokenFilterSymbol.class
/TokenFilterAccents.class
/TokenFilterDates.class
/TokenFilterSpecialChars.class
/TokenFilterNumbers.class
/TokenFilterCapitalization.class
/TokenFilterStemmer.class
/TokenFilterStopWords.class
/TokenFilterGetter.class
/AnalyzerForTerm.class
/AnalyzerForContent.class
/AnalyzerForAuthor.class
/AnalyzerForPlace.class
/AnalyzerForNewsDate.class
